server {
    listen 80;
    server_name ${NGINX_SERV_NAME};
    location /images {
        proxy_pass http://192.168.0.92:9090/;
    }
    location / {
        try_files ${DOLLAR}uri @app;
    }
    location @app {
        include uwsgi_params;
        uwsgi_pass unix:///tmp/uwsgi.sock;
    }
}
