@font-face {
  font-family: 'Barlow';
  src: url("../webfonts/Barlow-Regular.ttf") format('truetype');
  font-weight: 400; }

  @font-face {
    font-family: 'Barlow';
    src: url("../webfonts/Barlow-Medium.ttf") format('truetype');
    font-weight: 500; }

    @font-face {
      font-family: 'Barlow';
      src: url("../webfonts/Barlow-SemiBold.ttf") format('truetype');
      font-weight: 600; }

      .text-color-vivienda {
        color: #194a9a; }

        .text-color-transparencia {
          color: #e61937; }

          .text-color-trabajo {
            color: #e71869; }

            .text-color-genero {
              color: #774997; }

              .text-color-drogas {
                color: #f9b112; }

                .text-color-ciencia {
                  color: #008daf; }

                  .text-color-ambiente {
                    color: #39a95e; }

                    .vertical-align {
                      display: flex;
                      align-items: center; }

                      .padding-onditaazul {
                        padding-top: 12vw; }

                        .section__title {
                          color: #2a4b8c;
                          font-size: 2rem;
                          font-weight: 600; }
                          @media (min-width: 768px) {
                            .section__title {
                              z-index: 2;
                              position: relative;   }
}

.section__subtitle, .section__subtitle p {
  font-size: 1.15rem;
  line-height: 1.3rem;
  margin-top: 1rem; }
  @media (min-width: 768px) {
    .section__subtitle, .section__subtitle p {
      line-height: 1.75rem;   }
}
