body {
  font: 100% Helvetica, sans-serif;
  color: #333; }

  .no-gutters {
    margin-right: 0;
    margin-left: 0; }
    .no-gutters > .col, .no-gutters > [class*="col-"] {
      padding-right: 0;
      padding-left: 0; }

.seccion:nth-child(even) {
  background-color: #dcdcdc; }
  .seccion:nth-child(even) .jumbotron-fluid {
    background-color: #dcdcdc; }

.seccion:nth-child(odd) {
  background-color: #aaaaaa; }
  .seccion:nth-child(odd) .jumbotron-fluid {
    background-color: #aaaaaa; }

.seccion .jumbotron-fluid {
  margin-bottom: auto; }
  .seccion .jumbotron-fluid .container > h1 {
    margin-bottom: 1.5rem; }

.portada img {
  height: 600px; }
  .portada .carousel-caption {
    top: 50%;
    transform: translateY(-50%);
    bottom: auto; }
    .portada .carousel-caption h1 {
      font-weight: bold; }

.propuestas .subtitulo {
  max-width: 55rem;
  margin: auto; }

.candidates .display-4 {
  font-size: 3rem; }

.novedades .jumbotron .row > div {
  min-height: 100%; }
  .novedades .jumbotron .card {
    height: 100%; }
    .novedades .jumbotron .card img {
      height: 15rem; }
      .novedades .jumbotron .card .card-body {
        min-height: 12rem; }
