@font-face {
  font-family: 'Barlow';
  src: url("../webfonts/Barlow-Regular.ttf") format('truetype');
  font-weight: 400; }

  @font-face {
    font-family: 'Barlow';
    src: url("../webfonts/Barlow-Medium.ttf") format('truetype');
    font-weight: 500; }

    @font-face {
      font-family: 'Barlow';
      src: url("../webfonts/Barlow-SemiBold.ttf") format('truetype');
      font-weight: 600; }

      .text-color-vivienda {
        color: #194a9a; }

        .text-color-transparencia {
          color: #e61937; }

          .text-color-trabajo {
            color: #e71869; }

            .text-color-genero {
              color: #774997; }

              .text-color-drogas {
                color: #f9b112; }

                .text-color-ciencia {
                  color: #008daf; }

                  .text-color-ambiente {
                    color: #39a95e; }

                    body {
                      font: 100% 'Barlow', sans-serif;
                      color: black; }

                      img {
                        max-width: 100%; }

                        .no-gutters {
                          margin-right: 0;
                          margin-left: 0; }
                          .no-gutters > .col, .no-gutters > [class*="col-"] {
                            padding-right: 0;
                            padding-left: 0; }

.section {
  background-color: #ffffff; }
  .section.jumbotron-fluid {
    margin-bottom: auto;
    padding-top: 3rem;
    padding-bottom: 3rem; }
    @media (min-width: 768px) {
      .section.jumbotron-fluid {
        padding-top: 6rem;
        padding-bottom: 6rem;   }
}
  .section:nth-child(odd) {
    background-color: #ffffff; }
    .section:nth-child(even) {
      background-color: #fbfcfd; }

.section__title {
  color: #2a4b8c;
  font-size: 1.25rem;
  font-weight: 600; }
  @media (min-width: 768px) {
    .section__title {
      font-size: 2rem;   }
}

.section__subtitle {
  font-size: 0.9rem;
  line-height: 1.3rem;
  margin-top: 1rem; }
  @media (min-width: 768px) {
    .section__subtitle {
      font-size: 1.15rem;
      line-height: 1.75rem;   }
}

.btn-primary {
  border-radius: 2rem;
  background-color: #2a4b8c;
  border-color: #2a4b8c;
  color: #ffffff;
  border-width: 3px; }
  .btn-primary:hover {
    background-color: #ffffff;
    color: #2a4b8c; }

.btn-primary-inverted {
  background-color: #ffffff;
  border-color: #ffffff;
  color: #2a4b8c; }
  .btn-primary-inverted:hover {
    background-color: #2a4b8c;
    border-color: #ffffff;
    color: #ffffff; }

.btn-bold {
  font-weight: 600; }

  .btn-lg {
    padding: 0.75rem 3rem; }
    @media (max-width: 768px) {
      .btn-lg {
        font-size: 1rem;   }
}

.btn-md {
  padding: 0.5rem 2.5rem; }

  .btn-shadow {
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16); }

    .card {
      border-radius: 20px;
      border: none; }

      .card-with-shadow {
        box-shadow: 0 40px 40px 0 rgba(119, 119, 119, 0.15); }

        .card-title {
          font-size: 1.15rem; }

          .form-control {
            border-radius: 20px;
            border: solid 1px rgba(60, 60, 60, 0.3); }

            label {
              color: #1d1d1b;
              padding-left: 1rem; }

              .portada {
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                justify-content: space-around;
                background-color: #ffffff; }
                @media (min-width: 768px) {
                  .portada {
                    flex-wrap: nowrap;
                    justify-content: center;
                    align-items: end;   }
}
                  @media (min-width: 768px) {
                    .portada .container {
                      max-width: 35%;   }
}
                @media (min-width: 992px) {
                  .portada {
                    background-color: transparent;   }
}
                  .portada h1 img {
                    width: 204px; }
                    @media (min-width: 992px) {
                      .portada h1 img {
                        max-width: 525px;
                        width: 100%;   }
}
                @media (min-width: 768px) {
                  .portada p {
                    font-size: 1.25rem;
                    max-width: 80%;   }
}
                .portada .portada__img {
                  max-width: 80%;
                  order: -1; }
                  @media (min-width: 768px) {
                    .portada .portada__img {
                      order: initial;
                      max-width: 40%;   }
}

.manifiesto {
  background-image: url('/static/img/manifiesto-background.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #fbfcfd; }
  .manifiesto p {
    color: #1d1d1b;
    font-size: 0.9rem;
    line-height: 1.3rem; }
    @media (min-width: 768px) {
      .manifiesto p {
        font-size: 1rem;
        line-height: 1.75rem;   }
}

.section__signature {
  color: #1d1d1b;
  font-style: italic; }
  @media (min-width: 768px) {
    .section__signature {
      font-size: 1.15rem;   }
}
    .section__signature:before {
      content: " ";
      background-color: #2a4b8c;
      width: 55px;
      height: 5px;
      margin-right: 2rem;
      display: inline-block;
      vertical-align: middle; }
      @media (min-width: 768px) {
        .section__signature:before {
          opacity: 0.5;   }
}

.carousel {
  background: #ffffff; }

  .carousel-cell {
    width: 80%;
    height: 340px;
    margin-right: 1rem;
    border-radius: 20px;
    counter-increment: carousel-cell;
    color: #ffffff; }
    @media (min-width: 768px) {
      .carousel-cell {
        width: 30%;
        margin-right: 2rem;
        height: 400px;   }
}
      .carousel-cell a:target, .carousel-cell a:hover, .carousel-cell a {
        color: #ffffff;
        text-decoration: #ffffff; }
        .carousel-cell .title {
          font-size: 1.15rem;
          font-weight: 600;
          margin-bottom: 1rem; }
          @media (min-width: 768px) {
            .carousel-cell .title {
              font-size: 1.5rem;   }
}
    .carousel-cell .text {
      font-size: 0.9rem; }
      @media (min-width: 768px) {
        .carousel-cell .text {
          font-size: 1rem;   }
}
    .carousel-cell img {
      height: 6rem; }

.flickity-button {
  display: none;
  box-shadow: 0 15px 15px 0 rgba(119, 119, 119, 0.15);
  transition: box-shadow ease-in 0.1s; }
  .flickity-button[disabled] {
    visibility: hidden; }
    @media (min-width: 768px) {
      .flickity-button {
        display: block;   }
}
      .flickity-button:focus, .flickity-button:hover {
        box-shadow: 0 15px 15px 0 rgba(42, 75, 140, 0.5); }

button.flickity-prev-next-button.previous {
  left: -70px; }
  button.flickity-prev-next-button.next {
    right: -70px; }

.flickity-page-dots {
  position: relative; }
  @media (min-width: 768px) {
    .flickity-page-dots {
      visibility: hidden;   }
}
    .flickity-page-dots .dot {
      width: 19px;
      height: 19px;
      border: solid 1px #2a4b8c;
      background-color: #ffffff; }

.flickity-button-icon path {
  fill: #2a4b8c; }

.flickity-enabled.is-draggable .flickity-viewport {
  cursor: auto; }

  .section.candidates {
    background-color: #2a4b8c; }
    .section.candidates .section__title {
      color: #ffffff;
      font-size: 1.5rem; }
      @media (min-width: 768px) {
        .section.candidates .section__title {
          font-size: 2.5rem;   }
}
    .section.candidates .section__subtitle {
      font-size: 0.9rem;
      color: #ffffff;
      margin-bottom: 1.5rem; }
      @media (min-width: 768px) {
        .section.candidates .section__subtitle {
          font-size: 1.25rem;   }
}
    .section.candidates .btn {
      order: 1; }
      @media (min-width: 768px) {
        .section.candidates .btn {
          order: initial;   }
}

.card--novedades {
  box-shadow: 0 40px 40px 0 rgba(119, 119, 119, 0.15);
  border-radius: 0;
  background: #ffffff; }
  .card--novedades .card-title {
    font-size: 1rem; }
    @media (min-width: 768px) {
      .card--novedades .card-title {
        font-size: 1.25rem;   }
}
      .card--novedades .card-title a span {
        display: inline-block; }
        @media (min-width: 768px) {
          .card--novedades .card-title a span {
            max-width: 80%;   }
}
      .card--novedades .card-title a .fa {
        font-size: 1.5rem; }

.card-hashtag {
  font-size: 0.9rem;
  display: inline-block;
  background-color: #eff1f4;
  padding: 0 1rem;
  border-radius: 1rem;
  line-height: 1.8;
  margin-bottom: 0.5rem;
  text-transform: capitalize; }

  .twitter-timeline__title {
    color: #2a4b8c;
    font-size: 1.25rem;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    font-weight: 600;
    text-align: left; }
    @media (min-width: 768px) {
      .twitter-timeline__title {
        font-size: 1.5rem;   }
}

.eventos {
  background-image: url('/static/img/manifiesto-background.svg');
  background-repeat: no-repeat;
  background-size: cover; }
  .eventos .list-group {
    border-bottom: 1px solid rgba(0, 0, 0, 0.125); }
    .eventos .card {
      height: 100%; }

.agenda .list-group-item {
  padding-left: 0;
  padding-top: 1rem;
  padding-bottom: 1rem; }
  .agenda .list-group-item:first-child {
    border-top: 0; }
    .agenda .list-group-item .date {
      color: #2a4b8c;
      font-size: 0.9rem;
      font-weight: 600; }
      @media (min-width: 768px) {
        .agenda .list-group-item .date {
          font-size: 1rem;   }
}
  .agenda .list-group-item .text {
    color: #696969;
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 2;
    margin-bottom: 0; }
    @media (min-width: 768px) {
      .agenda .list-group-item .text {
        font-size: 1rem;
        line-height: 1.2;   }
}
  .agenda .list-group-item .hashtag {
    font-weight: 600;
    text-transform: capitalize; }
    .agenda .list-group-item img {
      height: 3rem; }
