@font-face {
  font-family: 'Barlow';
  src: url("../webfonts/Barlow-Regular.ttf") format('truetype');
  font-weight: 400; }

  @font-face {
    font-family: 'Barlow';
    src: url("../webfonts/Barlow-Medium.ttf") format('truetype');
    font-weight: 500; }

    @font-face {
      font-family: 'Barlow';
      src: url("../webfonts/Barlow-SemiBold.ttf") format('truetype');
      font-weight: 600; }

      h1, h2 {
      text-align: center;

    }
      .text-color-genero ,.causa-genero h2 {
        color:  #774997; }

        .text-color-ambiente ,.causa-ambiente h2 {
          color: #39a95e; }

          .text-color-ciencia ,.causa-ciencia h2 {
            color: #008daf; }

            .text-color-vivienda ,.causa-vivienda h2 {
              color: #194a9a; }

              .text-color-transparencia ,.causa-transparencia h2 {
                color: #e61937; }

                .text-color-drogas ,.causa-drogas h2 {
                  color: #9e700e; }

                  .text-color-trabajo ,.causa-trabajo h2 {
                    color: #e71869; }

                    .vertical-align {
                      display: flex;
                      align-items: center; }

                      .padding-onditaazul {
                        padding-top: 12vw; }

                        .backtotop {
                          position: fixed;
                          bottom: 2em;
                          right: 2em;
                          color: #ffffff;
                          background-color: rgba(0, 0, 0, 0.3);
                          font-size: 12px;
                          padding: 1em;
                          display: none; }
                          .backtotop:hover {
                            color: #ffffff; }
                            @media (max-width: 576px) {
                              .backtotop {
                                padding: 0.5rem;
                                font-size: 10px !important;   }
}

.main .imgMain {
    display: none;
}

.row.vertical-align.scrolly-row.main .col-lg-6 
{
  flex: 0 0 100%;
  max-width: 100%;
}

.row.vertical-align.scrolly-row.main {
    padding: 53px 0;
}

.imgMain {
    order: 13;
    -ms-flex-order: 13;
}

.imgContainer {
    text-align: center;
}
            
   .causa-genero .causa {
     color: #774997; 
  -webkit-box-shadow: 17px 18px 0px 0px #774997;
                            -moz-box-shadow: 17px 18px 0px 0px #774997;
                            box-shadow: 17px 18px 0px 0px #774997;
                            : ; }

  .causa-ambiente .causa {
    color: #39a95e; 
    -webkit-box-shadow: 17px 18px 0px 0px #39a95e;
                            -moz-box-shadow: 17px 18px 0px 0px #39a95e;
                            box-shadow: 17px 18px 0px 0px #39a95e;
                            : ; }

    .causa-ciencia .causa {
      color: #008daf; 
      -webkit-box-shadow: 17px 18px 0px 0px #008daf;
                            -moz-box-shadow: 17px 18px 0px 0px #008daf;
                            box-shadow: 17px 18px 0px 0px #008daf;
                            : ; }

      .causa-vivienda .causa {
        color: #194a9a; 
        -webkit-box-shadow: 17px 18px 0px 0px #194a9a;
                            -moz-box-shadow: 17px 18px 0px 0px #194a9a;
                            box-shadow: 17px 18px 0px 0px #194a9a;
                            : ; }

        .causa-transparencia .causa {
          color: #e61937; 
          -webkit-box-shadow: 17px 18px 0px 0px #e61937;
                            -moz-box-shadow: 17px 18px 0px 0px #e61937;
                            box-shadow: 17px 18px 0px 0px #e61937;
                            : ; }

          .causa-drogas .causa {
            color: #9e700e; 
            -webkit-box-shadow: 17px 18px 0px 0px #f9b112;
                            -moz-box-shadow: 17px 18px 0px 0px #f9b112;
                            box-shadow: 17px 18px 0px 0px #f9b112;
                            : ; }

            .causa-trabajo .causa {
              color: #e71869; 
              -webkit-box-shadow: 17px 18px 0px 0px #e71869;
                            -moz-box-shadow: 17px 18px 0px 0px #e71869;
                            box-shadow: 17px 18px 0px 0px #e71869;
                            : ; }
            

              body {
                font: 100% 'Barlow', sans-serif; }

                h1 {
                  font-weight: 700;
                  margin-bottom: 5px;
                  }

                  .scrolly-row {
                    padding: 20vh 0rem;
                    }

                      .scrolly-row.causa {
                            
                            border: 5px solid black;
                            /* height: 33vh; */
                            padding: 7vh 2rem;
                            margin: 43px 0px;
                        }
                    
                    @media (min-width: 992px) {
                      .scrolly-row {
                        padding: 0 4rem;
                        height: 49vh;
                        max-width: 1050px;
                        margin: auto;
                        }
                      .scrolly-row.causa {
                            margin: 50px auto;
                            height: 33vh;
                            padding: 0vh 4rem;
                            width: 60%;
                        }
                        .imgMain.order-last {
                              order: 0;
                                -ms-flex-order: 13;
                          }

                        h1, h2 {
                            text-align: left;
                        }

                        .main h1 {
                              font-size: 60px;
                              line-height: 59px;
                          }

                          .row.vertical-align.scrolly-row.main {
                              /* height: 28vh; */
                              margin-top: 30px;
                              padding: 0 4rem;
                          }
                    }
                      .scrolly-row:nth-child(odd) {
                        background-color: #ffffff;
                        }
                        .scrolly-row:nth-child(even) {
                          background-color: #e5e5e5;
                          }
                          .scrolly-row .scrolly-img {
                            padding: 10px 0px;
                            max-height: -webkit-fill-available;
                            }
