{% macro create_item_agenda(datetime, title, hashtag) -%}
{% if datetime %}
    {% set date_header =  datetime.strftime('%A %-d de %B').capitalize() %}
    {% set date_hour = datetime.strftime('%-H:%M hs')  %}
{% else %}
    {% set date_header = '' %}
    {% set date_hour = '' %}
{% endif %}
{% if not hashtag %}
    {% set hashtag = '' %}
<li class="list-group-item">
    <h5 class="date">{{ date_header }}</h5>
    <h6 class="text">{{ date_hour }} - {{ title }} <span class="hashtag text-color-{{hashtag.lower()}}">#{{hashtag}}</span></h6>
</li>
{%- endmacro %}