{% from '_imghelper.html' import create_img_src %}

<section id="definicion" class="definicion section jumbotron jumbotron-fluid">
    <div class="container">
        <h2 class="section__title text-center text-md-left">{{dtextos.get('definicion')['titulo']}}</h2>
        <div class="row mt-3 mt-md-5">
            <div class="video vertical-align col-md-6 mb-2 mb-md-0 pb-md-3">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe src="{{dtextos.get('video')}}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
             </div>
            <div class="col-md-6">
                <div class="text-justify">
                    {{ dtextos.get('definicion')['parrafo1'] | safe }}
                    {{ dtextos.get('definicion')['parrafo2'] | safe }}
                    {{ dtextos.get('definicion')['parrafo3'] | safe }}
                </div>
                {% if show_wiki_btn %}
                <div class="mt-5">
                    {{ dtextoscausas.get('texto')['wiki'] | safe }}
                    <div class="text-center text-md-left">
                        <a href="{{ dtextos.get('definicion')['linkwiki'] }}" class="btn btn-primary btn-md mt-3">WIKI: Sumate a construir</a>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</section>