{% from 'index_sections/_itemnovedad.html' import create_item_novedad %}

<section id="novedades" class="novedades bg-color-solido section jumbotron jumbotron-fluid">
    <div class="container text-center">
        <div class="row justify-content-center mb-4">
            <div class="col-md-8">
                <h2 class="section__title">Novedades {# dtextos.get('novedades')['titulo'] #}</h2>
                <p class="section__subtitle">Todas las acciones, actividades y agenda sobre {{dtextos.get('portada')['titulo']}}.{# dtextos.get('novedades')['subtitulo'] #}</p>
            </div>   
        </div>    
        {% set ns = namespace(acumcols=0) %}

        {% for itm in itemsnovedades %}

            {% if ns.acumcols == 0 %}
                {% if loop.revindex == 1 %}
                    <div class="row flex-md-row-reverse">
                {% else %}
                    <div class="row">
                {% endif %}
            {% endif %}

                {{ create_item_novedad(itm.get('ancho_columnas'), itm.get('imagen'), itm.get('titulo'), itm.get('hashtag'), itm.get('url'), itm.get('texto')) }}
                {% if loop.last %}
                <div class="col-12 col-md-4 pb-3">
                    <h4 class="twitter-timeline__title">¡Seguinos!</h4>
                    <a class="twitter-timeline" data-lang="es" data-height="445" href="https://twitter.com/causas_comunes?ref_src=twsrc%5Etfw">Tweets by causas_comunes</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                </div>
                {% endif %}
            {% set ns.acumcols=ns.acumcols+itm.get('ancho_columnas') %}
            {% if ns.acumcols >= 12 %}
                </div>
                {% set ns.acumcols=0 %}
            {% endif %}

        {% endfor %}
    </div>
</section>