{% from 'causa_sections/_itemseguidor.html' import create_item_seguidor %}

<section id="seguidores" class="seguidores section jumbotron jumbotron-fluid">
    <div class="container">
        <div class="row text-center text-md-left justify-content-center">
            <div class="col-md-12">
                <h2 class="section__title">{{dtextos.get('seguidores')['titulo']}}</h2>
                <p class="section__subtitle mb-5">{{dtextos.get('seguidores')['subtitulo']}}</p>
            </div>
            <div class="col-lg-10">
                <!-- Flickity HTML init -->
                <div class="carousel" data-flickity='{ "groupCells": true }'>
                    {% for itm in itemsseguidores %}
                        {{ create_item_seguidor(itm['imagen'], itm['titulo'], itm['url'], isstatic=isstatic) }}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>