{% from 'index_sections/_itemnovedad.html' import create_item_novedad %}

{% if itemsnovedades %}
<section id="novedades" class="novedades bg-color-solido section jumbotron jumbotron-fluid">
    <div class="container text-center">
        <div class="row justify-content-center mb-4">
            <div class="col-md-8">
                <h2 class="section__title">Novedades {# dtextos.get('novedades')['titulo'] #}</h2>
                <p class="section__subtitle">Todas las acciones, actividades y agenda sobre {{nombre_causa}}.{# dtextos.get('novedades')['subtitulo'] #}</p>
            </div>   
        </div>    
        {% set ns = namespace(acumcols=0) %}

        {% for itm in itemsnovedades %}

            {% if ns.acumcols == 0 %}
            	<div class="row">
            {% endif %}

				{% if loop.last and ns.acumcols == 0 %}
					{% set offset_class = 'offset-md-3' %}
                {% else %}
					{% set offset_class = '' %}
            	{% endif %}

                {{ create_item_novedad(itm, css_classes=offset_class) }}

            	{% set ns.acumcols=ns.acumcols+6 %}

	        {% if ns.acumcols >= 12 or loop.last %}
	            </div>
	            {% set ns.acumcols=0 %}
	        {% endif %}

        {% endfor %}
    </div>
</section>
{% endif %}
