{% set bg_img_path = 'img/backgrounds/causas/mosaico-halfcolor-' + causa + '.png' %}
{% set bg_img_url = url_for('home.static', filename=bg_img_path) %}

<section class="portada-seccion jumbotron mt-0 text-center" style="background-image: url('{{ bg_img_url }}');">
    <h1 class="mt-1 mt-md-5 pb-0">{{dtextos.get('portada')['titulo']}}</h1>
    <h4 class="mb-5 pb-3 px-3">{{dtextos.get('portada')['subtitulo']}}</h4>
</section>
<ul id="nav-secondary" class="nav nav-secondary py-4 bg-color-solido justify-content-center">
    <li class="nav-item">
        <a class="nav-link scrollTo text-color-{{causa}}" href="#definicion">Presentación</a>
    </li>
    <!--<li class="nav-item">
            <a class="nav-link scrollTo text-color-{{causa}}" href="#tema">Tema</a>
        </li>-->
    <li class="nav-item">
        <a class="nav-link scrollTo text-color-{{causa}}" href="#colaborar">¿Cómo colaborar?</a>
    </li>
    <!-- <li class="nav-item">
            <a class="nav-link scrollTo text-color-{{causa}}" href="#compromisos">Compromisos</a>
        </li>
        <li class="nav-item">
            <a class="nav-link scrollTo text-color-{{causa}}" href="#wiki">Wiki</a>
        </li> -->
</ul>
