{% from '_imghelper.html' import create_img_src %}

<section id="activa" class="activa section jumbotron jumbotron-fluid">
    <div class="container">
        <h2 class="section__title text-center">{{ dtextoscausas.get('activa')['titulo']}}</h2>
        <div class="row mt-3">
            <div class="col-md-4">
                <div class="img-wrapper text-center">
					<img src="{{ url_for('home.static', filename='img/activa-num-1.png') }}" alt="" />
                </div>
                <span>
					{{ dtextoscausas.get('activa')['paso1']}}
                </span>
            </div>
        </div>
    </div>
</section>