<!--https://www.w3schools.com/tags/tag_doctype.asp 22-->
<!doctype html>
<html lang="es">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-143699287-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-143699287-1');
    </script>
    
    <meta charset="UTF-8">	
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, maximum-scale=1">
	<link rel="shortcut icon" type="image/png" href="{{url_for('home.static', filename='img/favicon.png')}}"/>
	
    <!--<link href="https://fonts.googleapis.com/css?family=Barlow:400,500,600&display=swap" rel="stylesheet">-->
    <!--<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">-->
    <link href="{{url_for('home.static', filename='css/bootstrap.min.css')}}" rel="stylesheet">
    <link href="{{url_for('home.static', filename='css/fontawesome-all.min.css')}}" rel="stylesheet">
    <link href="{{url_for('home.static', filename='css/navbar.css')}}" rel="stylesheet">
    <link href="{{url_for('home.static', filename='css/footer.css')}}" rel="stylesheet">
    {% block head %}{% endblock %}
</head>
<body>
    {% include "navbar.html"  %}

    <main role="main">
        {% block body %}{% endblock %}
    </main>

   <!--  {% include "_backtotop.html"  %} -->
    {% include "footer.html"  %}

    <!--<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>-->
    <script src="{{url_for('home.static', filename='js/lib/jquery.min.js')}}"></script>
    <script src="{{url_for('home.static', filename='js/lib/bootstrap.min.js')}}"></script>
    <script src="{{url_for('home.static', filename='js/navbar.js')}}"></script>
<!--     <script src="{{url_for('home.static', filename='js/backtotop.js')}}"></script>-->    
    {% block scripts %}{% endblock %}
</body>
</html>
