{% extends '_base.html' %}

{% from '_imghelper.html' import create_img_src %}

{% block head %}
    <title>Causas comunes</title>
    <link href="{{url_for('home.static', filename='css/actividades.css')}}" rel="stylesheet">
    <link href="{{url_for('home.static', filename='css/blueimp-gallery.min.css')}}" rel="stylesheet">
{% endblock %}

{% block body %}

{% from 'index_sections/_itemgaleria.html' import create_item_galeria %}
<section id="galeria" class="galeria section jumbotron jumbotron-fluid">
    <div class="container">
        <div class="row">
            <div class="text-left col-md-12">
                <h2 class="section__title">{{ dtextos.get('hackaton')['titulo'] }}</h2>
            </div>
        </div>
        <div class="row my-md-5">
            <div class="col-md-6">
                <p class="text-justify">{{ dtextos.get('hackaton')['subtitulo'] | safe }}</p>
            </div>
            <div class="col-md-6">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe width="805" height="453" src="https://www.youtube.com/embed/0mT3zQhB69E" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
        </div>
        <div class="row mb-2 mb-md-3">
            <div class="col-lg-10 offset-lg-1 mb-3">
                <!-- The Gallery as inline carousel, can be positioned anywhere on the page -->
                <div id="blueimp-gallery-carousel" class="blueimp-gallery blueimp-gallery-carousel">
                    <div class="slides"></div>
                    <h3 class="title"></h3>
                    <a class="play-pause"></a>
                    <ol class="indicator"></ol>
                </div>
                <div id="links" class="d-none">
                    {% for itm in galeriahackaton %}
                        {{ create_item_galeria(itm.get('titulo'), itm.get('descripcion'), itm.get('imagen_archivo')) }}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}

{% block scripts %}
<script src="{{url_for('home.static', filename='js/lib/blueimp-gallery.min.js')}}"></script>
<script src="{{url_for('home.static', filename='js/actividades.js')}}"></script>
{% endblock %}
