<!-- Footer -->
<footer class="text-center py-5">

    <!-- Footer Elements -->
    <div class="container">

        <!-- Grid row-->
        <div class="row">

            <!-- Grid column -->
            <div class="col-md-12 mt-3">
                <img src="{{ create_img_src('logo.svg', isstatic=isstatic) }}" alt="Causas Comunes"/>
            </div>
            <!-- Grid column -->

            <!-- Grid column -->   
            <div class="col-md-12 my-2 py-4">
                <!-- Facebook -->
                <a class="fb-ic">
                    <i class="fab fa-facebook-f fa-lg white-text md-5 mx-3 fa-2x"> </i>
                </a>
                <!-- Twitter -->
                <a class="tw-ic">
                    <i class="fab fa-twitter fa-lg white-text md-5 mx-3 fa-2x"> </i>
                </a>
                <!--Instagram-->
                <a class="ins-ic">
                    <i class="fab fa-instagram fa-lg white-text md-5 mx-3 fa-2x"> </i>
                </a>
            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-12 mb-3">
                <!-- Copyright -->
                    <span class="footer__copyright">© DemocrApp, 2019</span>
                <!-- Copyright -->
            </div>
            <!-- Grid column -->
        </div>
        <!-- Grid row-->

    </div>
    <!-- Footer Elements -->

</footer>
<!-- Footer -->