<!-- Footer -->
<footer class="text-center py-5">

    <!-- Footer Elements -->
    <div class="container">

        <!-- Grid row-->
        <div class="row">

            <!-- Grid column -->
            <div class="col-md-12 mt-3">
                <img src="{{ create_img_src(dimgsfooter['logo'], isstatic=isstatic) }}" alt="Causas Comunes"/>
            </div>
            <!-- Grid column -->

            <!-- Grid column -->   
            <div class="col-md-12 my-2 py-4">
                <!--Instagram-->
                <a class="ins-ic" href="https://www.instagram.com/causascomunes/">
                    <img class="md-5 mx-2" src="{{ create_img_src(dimgsfooter['social']['instagram'], isstatic=isstatic) }}">
                </a>
                <!-- Facebook -->
                <a class="fb-ic" href="https://www.facebook.com/Causas-Comunes-449280685874685/">
                    <img class="md-5 mx-2" src="{{ create_img_src(dimgsfooter['social']['facebook'], isstatic=isstatic) }}">
                </a>
                <!-- Twitter -->
                <a class="tw-ic" href="https://twitter.com/causas_comunes">
                    <img class="md-5 mx-2" src="{{ create_img_src(dimgsfooter['social']['twitter'], isstatic=isstatic) }}">
                </a>
            </div>
            <!-- Grid column -->

            <!--
            <div class="col-md-12 mb-3">
                    <span class="footer__copyright">© DemocrApp, 2019</span>
            </div>
            -->
        </div>
        <!-- Grid row-->

    </div>
    <!-- Footer Elements -->

</footer>
<!-- Footer -->