{% extends '_base.html' %}

{% from '_imghelper.html' import create_img_src %}

{% block head %}
    <title>Causas comunes</title>
    <link href="{{url_for('home.static', filename='css/index.css')}}" rel="stylesheet">
	{% if index_de_testeo %}
    <link href="{{url_for('home.static', filename='css/index-parallax.css')}}" rel="stylesheet">
    {% endif %}
{% endblock %}

{% block body %}
    <!-- LANDING -->
    {% include 'index_sections/index_landing.html' %}

    <!-- MANIFIESTO -->
    {% include 'index_sections/index_manifiesto.html' %}

    <!-- CAUSAS -->
    {% include 'index_sections/index_causas.html' %}

    <!-- ACCIONES -->
    {% include 'index_sections/index_acciones.html' %}

    <!-- NEWSLETTER -->
    {# include 'index_sections/index_newsletter.html' #}

	{% if index_de_testeo %}
    <!-- BG PARALLAX -->
    {% include 'index_sections/parallax.html' %}
	{% endif %}
{% endblock %}

{% block scripts %}
    <script src="{{url_for('home.static', filename='js/index.js')}}"></script>
	{% if index_de_testeo %}
    <script src="{{url_for('home.static', filename='js/lib/rellax.min.js')}}"></script>
    <script src="{{url_for('home.static', filename='js/index-parallax.js')}}"></script>
    <script> _data_parallax_img_path = '{{url_for('home.static', filename='img/parallax')}}'</script>
    {% endif %}
{% endblock %}
