<header>
    <!-- Ondita azul de background -->
    <img class="ondita-azul" src="{{ url_for('home.static', filename='img/home-background.svg') }}">
    <nav id="navbar" class="navbar fixed navbar-expand-lg py-3 px-4">

        <!-- Menú hamburguesa mobile (solo en vista mobile) -->
        <button class="navbar-toggler p-0" type="button" data-toggle="collapse" data-target="#navbarMenu" aria-controls="navbarMenu" aria-expanded="false" aria-label="Toggle navigation">
            <img class="nav-menu-mobile" src="{{ url_for('home.static', filename='img/icons/menu_mobile.svg') }}" alt="Menu"/>
        </button>

        <!-- Loguito de la esquina -->
        <a class="navbar-brand" href="{{ url_for('home.index') }}">
            <img src="{{ url_for('home.static', filename='img/logos/CC_LogoColor_chico.png') }}" alt="Causas Comunes"/>
        </a>

        <!-- Links  -->
        <div class="collapse navbar-collapse" id="navbarMenu">
            <ul class="navbar-nav ml-md-5">
                <li class="nav-item">
                    <a class="nav-link px-4 {{navs['index']}}" href="{{ url_for('home.index') }}">Inicio</a>
                </li>
                <li class="nav-item">
                    {% if request.endpoint in ['home.index'] %}
                    <a class="nav-link px-4 scrollTo {{navs['causas']}}" href="#propuestas">Causas</a>
                    {% else %}
                    <a class="nav-link px-4 scrollTo {{navs['causas']}}" href="{{ url_for('home.index') }}#propuestas">Causas</a>
                    {% endif %}
                </li>
                <li class="nav-item">
                    {% if request.endpoint in ['home.index'] %}
                    <a class="nav-link px-4 scrollTo {{navs['agenda']}}" href="#eventos">Agenda</a>
                    {% else %}
                    <a class="nav-link px-4 scrollTo {{navs['agenda']}}" href="{{ url_for('home.index') }}#eventos">Agenda</a>
                    {% endif %}
                </li>
                <li class="nav-item">
                    <a class="nav-link px-4 {{navs['cuentas']}}" href="{{ url_for('home.cuentas') }}">Cuentas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link px-4 {{navs['contacto']}}" href="{{ url_for('home.contacto') }}">Contacto</a>
                </li>
            </ul>
        </div>

        <!-- Buscador de la página -->
        <!-- <img src="{# create_img_src(dimgsnav['busqueda']) #}" alt="Buscar"/> -->
        <!-- <div class="collapse navbar-collapse" id="navbarSearch">
            <form class="form-inline my-2 my-lg-0">
                <div class="form-group">
                    <input class="form-control pr-4" type="text" placeholder="Buscar">
                    <span class="fa fa-search form-control-icon"></span>
                </div>
            </form>
        </div> -->
    </nav>
</header>