{% from '_imghelper.html' import create_img_src %}

{% macro create_item_propuesta(itm) -%}
{% set pagina = itm.get('pagina', '') | lower %}
{% set title = itm.get('titulo', '') %}
{% set text = itm.get('texto', '') %}

{% if pagina %}
    {% set url_anchor =  url_for('home.' + pagina) %}
    {% set icon_path =  url_for('home.static', filename = 'img/index-causas-imgs/scrolli-' + pagina + '.gif') %}
{% else %}
    {% set url_anchor =  '#' %}
    {% set icon_path =  '' %}
{% endif %}

<div class="caja-causa col-12 col-md-6 p-4">
    <a href="{{ url_anchor }}">
      <div class="inner inner-{{ pagina }}">
        <img class="scrolli" src="{{ icon_path }}" />
        <h4 class="title title-{{ pagina }} px-2 py-1">{{ title }}</h4>
      </div>
    </a>
</div>
{%- endmacro %}
