{% from '_imghelper.html' import create_img_src %}

{% macro create_item_novedad(itm, css_classes='') -%}

{% set pagina = itm.get('pagina', '') %}

{% set imgpath = itm.get('imagen', '') %}
{% set title = itm.get('titulo', '') %}
{% set texto = itm.get('texto', '') %}
{% set url = itm.get('url', '') %}

<div class="col-12 col-md-6 pb-3 mb-4 {{css_classes}}">
    <div class="card card--novedades">
		<div class="card-img-top">
			{% set imgsrc = create_img_src(imgpath) %}
        	<a href="{{ url or imgsrc }}">
				<img src="{{ imgsrc }}" alt="{{ title }}">
			</a>
		</div>
        <div class="card-body px-md-4 text-left">
            <span class="ml-3 card-hashtag text-color-{{ pagina|lower }}">#{{ pagina }}</span>
            {% if texto %}
			<h5 class="card-title">
                <a href="{{ url }}" class="text-color-{{ pagina|lower }}">
                    <span class="mb-2">{{ title }}</span>
                </a>
            </h5>
			<span class="card-text text">{{ texto|safe }}</span>
			{% endif %}
        </div>
    </div>
</div>
{%- endmacro %}