{% from '_imghelper.html' import create_img_src %}

{% macro create_item_novedad(cols, imgpath, title, hashtag, isstatic=True) -%}
{% if hashtag %}
    {% set htag_lower =  hashtag.lower() %}
{% else %}
    {% set htag_lower =  '' %}
{% endif %}
<div class="col-12 col-md-{{ cols or '' }} pb-3">
    <div class="card card--novedades text-left">
        <img src="{{ create_img_src(imgpath or '', isstatic) }}" alt="{{ title or '' }}">
        <div class="card-body px-md-5">
            <span class="card-hashtag text-color-{{htag_lower}}">#{{ hashtag or '' }}</span>
            <h5 class="card-title">
                <a href="#" class="text-color-{{htag_lower}}">
                    <span>{{ title or '' }}</span>
                    <i class="d-none d-md-inline-block fa fa-arrow-right float-right"></i>
                </a>
            </h5>
        </div>
    </div>
</div>
{%- endmacro %}