{% from '_imghelper.html' import create_img_src %}

{% macro create_item_propuesta(pagina, title, text) -%}
{% if pagina %}
    {% set url_anchor =  url_for('home.' + (pagina|string).lower()) %}
    {% set icon_path =  url_for('home.static', filename='img/icons/causas/'+pagina|lower+'_icon.png') %}
{% else %}
    {% set url_anchor =  '#' %}
    {% set icon_path =  '' %}
    {% set pagina =  '' %}
{% endif %}
{% set novedades =  true %}

<div class="card card-{{pagina|lower}} px-0 py-2 m-1 px-md-2 py-md-4 m-md-2">
  <div class="card-body">
	    <a href="{{ url_anchor }}"><img class="mb-3 mb-md-5" src="{{ icon_path }}" /></a>
	    <a href="{{ url_anchor }}"><h4 class="title">{{ title or '' }}</h4></a>
        <p class="text">{{ text or '' }}</p>
        {% if novedades %}<a class="btn" href="{{ url_anchor }}#novedades">Ver novedades</a>{% endif %}
	</div>
</div>
{%- endmacro %}