{% from '_imghelper.html' import create_img_src %}

{% macro create_item_novedad(itm) -%}

{% set cols = itm.get('ancho_columnas') %}
{% set imgpath = itm.get('imagen') %}
{% set title = itm.get('titulo') %}
{% set hashtag = itm.get('hashtag') %}
{% set url = itm.get('url') %}
{% set texto = itm.get('texto') %}

{% if hashtag %}
    {% set htag_lower =  hashtag.lower() %}
{% else %}
    {% set htag_lower =  '' %}
{% endif %}
<div class="col-12 col-md-{{ cols or '' }} pb-3 mb-4">
    <div class="card card--novedades">
		<div class="card-img-top">
        	<a href="{{url}}"><img src="{{ create_img_src(imgpath or '') }}" alt="{{ title or '' }}"></a>
		</div>
        <div class="card-body px-md-4 text-left">
            <span class="ml-3 card-hashtag text-color-{{htag_lower}}">#{{ hashtag or '' }}</span>
            <h5 class="card-title">
                <a href="{{url}}" class="text-color-{{htag_lower}}">
                    <span class="mb-2">{{ title or '' }}</span>
                </a>
            </h5>
			<span class="card-text text">{{texto|safe}}</span>
        </div>
    </div>
</div>
{%- endmacro %}