<section id="wikis" class="section jumbotron jumbotron-fluid">
    <div class="container">
        <div class="row justify-content-center ">
            <div class="text-center col-md-10">
                <h2 class="section__title">{{ dtextos.get('wiki')['titulo'] }}</h2>
                <span class="section__subtitle mb-5">{{ dtextos.get('wiki')['subtitulo']|safe }}</span>
                <a href="#" class="btn btn-primary btn-md">{{ dtextos.get('wiki')['boton'] }}</a>
            </div>
        </div>
    </div>
</section>