<section id="propuestas" class="section jumbotron jumbotron-fluid">
    <div class="container">
        <div class="row justify-content-center ">
            <h2 class="section__title">Proyectos de Causas Comunes</h2>
        </div>
        <div class="row justify-content-center align-items-md-center">
            <div class="col-7">
                <span class="section__subtitle mb-5 text-color-primario">Entrando aquí podés leer los proyectos que creamos colaborativamente para avanzar en nuestras Causas Comunes. Además, podés sumarte a editar o comentar.</span>
            </div>
            <div class="text-center col-3">
                <img class="img-fluid mt-3 mt-md-0" src="{{ url_for('home.static', filename='img/checking.svg') }}">
            </div>
        </div>
        <div class="row justify-content-center">
            <a href="https://propuestas.causascomunes.org/" class="wiki-btn btn btn-primary btn-lg">Ver proyectos</a>
        </div>
    </div>
</section>