<section id="wikis" class="section jumbotron jumbotron-fluid">
    <div class="container">
        <div class="row justify-content-center ">
            <h2 class="section__title">{{ dtextos.get('wiki')['titulo'] }}</h2>
        </div>
        <div class="row justify-content-center ">
            <div class="text-center col-md-3">
				<div class="img-wrapper">
					<img class="img-fluid" src="{{ url_for('home.static', filename='img/wikipedia.svg') }}">
				</div>
			</div>
            <div class="col-md-7">
                <span class="section__subtitle mb-5">{{ dtextos.get('wiki')['subtitulo']|safe }}</span>
                <a href="https://diagnostico.causascomunes.org/" class="wiki-btn btn btn-primary btn-md">{{ dtextos.get('wiki')['boton'] }}</a>
            </div>
        </div>
    </div>
</section>