<section class="candidates section jumbotron jumbotron-fluid">
    <div class="container text-center text-md-left">
        <div class="row">
            <div class="col-md-6">
                <h2 class="section__title mb-3">{{dtextos.get('candidates')['titulo']}}</h2>
                <p class="section__subtitle">{{dtextos.get('candidates')['subtitulo']}}</p>
                <a href="https://activa.causascomunes.org/"><button type="button" class="btn btn-primary btn-bold btn-lg">{{dtextos.get('candidates')['boton']}}</button></a>
            </div>
            <div class="col-md-6 img-wrapper">
                <img src="{{ create_img_src(dimgs.get('candidates')['imagen']) }}" class="img-fluid mt-4 mt-md-0">
            </div>
        </div>
    </div>
</section>