<section id="manifiesto" class="manifiesto section jumbotron jumbotron-fluid">
    <div class="container">
        <div class="row">
            <div class="col-md-6 d-none d-md-block">
                <img src="{{ create_img_src(dimgs['manifiesto']['imagen'], isstatic=isstatic) }}" alt="{{dtextos['manifiesto']['titulo']}}"/>
            </div>
            <div class="col-md-6">
                <h2 class="section__title mb-4">{{dtextos['manifiesto']['titulo']}}</h2>
                <p>{{dtextos['manifiesto']['parrafo1']}}</p>
                <span class="section__signature">{{dtextos['manifiesto']['firma']}}</span>
            </div>
        </div>
    </div>
</section>