<section class="portada jumbotron mt-md-3">
    <div class="container text-center text-md-left mx-md-0">
        <h1 class="my-4">
            <span class="sr-only">{{dtextos['portada']['titulo']}}</span>
            <img src="{{ create_img_src(dimgsnav['logocolor'], isstatic=isstatic) }}" alt="{{dtextos['portada']['titulo']}}"/>
        </h1>
        <p class="pb-md-4">{{dtextos['portada']['subtitulo']}}</p>
        <a href="#manifiesto" role="button" class="btn btn-primary d-none d-md-inline-block btn-lg mt-md-5 scrollTo">{{dtextos['portada']['boton']}}</a>
    </div>
    <img class="portada__img mt-md-5" src="{{ create_img_src(dimgs['portada']['imagen'], isstatic=isstatic) }}" alt="{{dtextos['portada']['titulo']}}"/>
</section>