{% from '_imghelper.html' import create_img_src %}

{% macro create_item_agenda(datetime, title, hashtag, icono) -%}
{% if datetime %}
    {% set date_header =  datetime.strftime('%A %-d de %B').capitalize() %}
    {% set date_hour = datetime.strftime('%-H:%M hs')  %}
{% else %}
    {% set date_header = '' %}
    {% set date_hour = '' %}
{% endif %}
<li class="list-group-item">
    <img class="float-left mr-2" src="{{ create_img_src(icono or '') }}">
    <h5 class="date">{{ date_header }}</h5>
    <h6 class="text">{{ date_hour }} - {{ title or '' }} <span class="hashtag text-color-{{hashtag.lower()}}">#{{hashtag or ''}}</span></h6>
</li>
{%- endmacro %}