@font-face {
  font-family:'Barlow';
  src: url("../webfonts/Barlow-Regular.ttf") format('truetype');
  font-weight: 400;
}
@font-face {
  font-family:'Barlow';
  src: url("../webfonts/Barlow-Medium.ttf") format('truetype');
  font-weight: 500;
}
@font-face {
  font-family:'Barlow';
  src: url("../webfonts/Barlow-SemiBold.ttf") format('truetype');
  font-weight: 600;
}

$font-stack: 'Barlow', sans-serif;
$font-size-base: 1rem;
$font-size-xsmall: 0.9rem;
$font-size-small: 1.15rem;
$font-size-medium: 1.25rem;
$font-size-large: 1.5rem;
$font-size-xlarge: 2rem;
$font-size-xxlarge: 2.5rem;
$line-height-small: 1.3rem;
$line-height-medium: 1.75rem;

// Media Queries from Bootstrap
$width-small: 576px; // Small devices (landscape phones, less than 768px)
$width-medium: 768px; // Medium devices (tablets, less than 992px)
$width-large: 992px; // Large devices (desktops, less than 1200px)
$width-xlarge: 1200px;
$width-xxlarge: 1600px;

$white: #ffffff;

$color-principal-azul: #2a4b8c;
$color-secundario-fucsia: #e61e68;
$color-secundario-naranja: #f9b004;
$color-fondo-1: $white;
$color-fondo-2: #fbfcfd;
$color-texto-light: #1d1d1b;


@mixin border-radius($radius: 5px) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
          border-radius: $radius;
}
@mixin vertical-align-transform() {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

@mixin vertical-align() {
	display: block;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

@mixin vertical-align-content(){
	display: flex;
	justify-items: center;
	align-items: center;
}

// navbar
$logo-height-mobile: 30px;
$logo-height-desktop: 54px;
$navbar-icons-color: #24499a;

// causas
$color-vivienda: #194a9a;
$color-transparencia: #e61937;
$color-trabajo: #e71869;
$color-genero: #774997;
$color-drogas: #f9b112;
$color-ciencia: #008daf;
$color-ambiente: #39a95e;
$color-derechos-digitales: #f15b28;
$colors-causas: (
	'vivienda': #194a9a,
	'transparencia': #e61937,
	'trabajo': #e71869,
	'genero': #774997,
	'drogas': #f9b112,
	'ciencia': #008daf,
	'ambiente': #39a95e,
	'derechos-digitales': #f15b28
);

$parallaxZIndexOnTop: 1;

$sectionBgColorWhite: #f4f9ff;
$sectionBgColorBlue: #e4eefa;

/*##############################*/
/*####### CLASES HELPERS #######*/
.text-color-vivienda {
  color: $color-vivienda;
}

.text-color-transparencia {
  color: $color-transparencia;
}

.text-color-trabajo {
  color: $color-trabajo;
}

.text-color-genero {
  color: $color-genero;
}

.text-color-drogas {
  color: $color-drogas;
}

.text-color-ciencia {
  color: $color-ciencia;
}

.text-color-ambiente {
  color: $color-ambiente;
}

.text-color-derechos-digitales {
  color: $color-derechos-digitales;
}

.fill-color-vivienda {
  fill: $color-vivienda;
}

.fill-color-transparencia {
  fill: $color-transparencia;
}

.fill-color-trabajo {
  fill: $color-trabajo;
}

.fill-color-genero {
  fill: $color-genero;
}

.fill-color-drogas {
  fill: $color-drogas;
}

.fill-color-ciencia {
  fill: $color-ciencia;
}

.fill-color-ambiente {
  fill: $color-ambiente;
}

.fill-color-derechos-digitales {
  fill: $color-derechos-digitales;
}

.vertical-align {
    display: flex;
    align-items: center;
}

.text-color-primario {
	color: $color-principal-azul;
}

/*##############################*/
/*### COMPONENTES ESTANDAR #####*/
body {
	font: 100% $font-stack;
	color: black;
}

.padding-onditaazul{padding-top: 12vw;}

.card {
	border-radius: 20px;
	border: none;
}

.card-with-shadow {
	box-shadow: 0 40px 40px 0 rgba(119, 119, 119, 0.15);
}

.card-title {
	font-size: $font-size-small;
}

.btn-primary {
	border-radius: 2rem;
	background-color: $color-principal-azul;
	border-color: $color-principal-azul;
	color: $white;
	border-width: 3px;
	&:hover {
		background-color: $white;
		color: $color-principal-azul;
	}
}

.btn-primary-inverted {
	background-color: $white;
	border-color: $white;
	color: $color-principal-azul;
	&:hover {
		background-color: $color-principal-azul;
		border-color: $white;
		color: $white;
	}
}

.btn-bold {
	font-weight: 600;
}

.btn-lg {
	padding: .75rem 3rem;
	@media (max-width: $width-medium) {
		font-size: $font-size-base;
	}
}

.btn-md {
	padding: .5rem 2.5rem;
}

.btn-shadow {
	box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
}

.form-control {
	border-radius: 20px;
	border: solid 1px rgba(60, 60, 60, 0.3);
}

label {
	color: $color-texto-light;
	padding-left: 1rem;
}

.backtotop {
	position: fixed;
	bottom: 2em;
	right: 2em;
	color: $white;
	background-color: rgba(0, 0, 0, 0.3);
	font-size: 12px;
	padding: 1em;
  display: none;
  &:hover {
    color: $white;
  }
  @media (max-width: $width-small) {
    padding: 0.5rem;
    font-size: 10px !important;
  }
}
