@font-face {
  font-family:'Barlow';
  src: url("../webfonts/Barlow-Regular.ttf") format('truetype');
  font-weight: 400;
}
@font-face {
  font-family:'Barlow';
  src: url("../webfonts/Barlow-Medium.ttf") format('truetype');
  font-weight: 500;
}
@font-face {
  font-family:'Barlow';
  src: url("../webfonts/Barlow-SemiBold.ttf") format('truetype');
  font-weight: 600;
}

$font-stack: 'Barlow', sans-serif;
$font-size-base: 1rem;
$font-size-xsmall: 0.9rem;
$font-size-small: 1.15rem;
$font-size-medium: 1.25rem;
$font-size-large: 1.5rem;
$font-size-xlarge: 2rem;
$font-size-xxlarge: 2.5rem;
$line-height-small: 1.3rem;
$line-height-medium: 1.75rem;

// Media Queries from Bootstrap
$width-small: 576px; // Small devices (landscape phones, less than 768px)
$width-medium: 768px; // Medium devices (tablets, less than 992px)
$width-large: 992px; // Large devices (desktops, less than 1200px)
$width-xlarge: 1200px;

$white: #ffffff;

$color-principal-azul: #2a4b8c;
$color-secundario-fucsia: #e61e68;
$color-secundario-naranja: #f9b004;
$color-fondo-1: $white;
$color-fondo-2: #fbfcfd;
$color-texto-light: #1d1d1b;


@mixin border-radius($radius: 5px) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
          border-radius: $radius;
}

// navbar
$logo-height-mobile: 30px;
$logo-height-desktop: 54px;
$navbar-icons-color: #24499a;

// causas
$color-vivienda: #194a9a;
$color-transparencia: #e61937;
$color-trabajo: #e71869;
$color-genero: #774997;
$color-drogas: #f9b112;
$color-ciencia: #008daf;
$color-ambiente: #39a95e;

.text-color-vivienda {
  color: $color-vivienda;
}

.text-color-transparencia {
  color: $color-transparencia;
}

.text-color-trabajo {
  color: $color-trabajo;
}

.text-color-genero {
  color: $color-genero;
}

.text-color-drogas {
  color: $color-drogas;
}

.text-color-ciencia {
  color: $color-ciencia;
}

.text-color-ambiente {
  color: $color-ambiente;
}