@import 'vars';

$bg-alt-col:#faf2ff;
$subnav-col:#f8eeff;

/* hacksito para la imagen banner de fondo */
body {overflow-x: hidden;}

/*####################################################*/
/*################## GENERALES */
.section {
    &.jumbotron-fluid {
		@media (min-width: $width-medium) {
			padding-top: 3rem;
		    padding-bottom: 3rem;
		}
	}
	/* intercalar colores de fondo */
	&:nth-child(even) {
        background-color: $white;
	}
	&:nth-child(odd) {
	    background-color: $bg-alt-col;
	}
}

@mixin bg-mosaico-blanco-trans($causa) {
	background-image: linear-gradient(to bottom, rgba(255,255,255,0.7) 0%,rgba(255,255,255,0.7) 100%), url('../img/backgrounds/causas/mosaico-transparente-' + $causa + '.png');
}
.causa-genero{
	.bg-mosaico-blanco{ @include bg-mosaico-blanco-trans('genero');	}
	.bg-color-solido{ background-color: #faf2ff; }
}
.causa-ambiente{
	.bg-mosaico-blanco{ @include bg-mosaico-blanco-trans('ambiente');	}
	.bg-color-solido{ background-color: #f2fff6; }
}
.causa-trabajo{
	.bg-mosaico-blanco{ @include bg-mosaico-blanco-trans('trabajo');	}
	.bg-color-solido{ background-color: #fff2f4; }
}
.causa-transparencia{
	.bg-mosaico-blanco{ @include bg-mosaico-blanco-trans('transparencia');	}
	.bg-color-solido{ background-color: #fff2f5; }
}
.causa-vivienda{
	.bg-mosaico-blanco{ @include bg-mosaico-blanco-trans('vivienda');	}
	.bg-color-solido{ background-color: #f2f4ff; }
}
.causa-drogas{
	.bg-mosaico-blanco{ @include bg-mosaico-blanco-trans('drogas');	}
	.bg-color-solido{ background-color: #fffcf2; }
}

/*####################################################*/
/*################## PORTADA/LANDING */
.portada-seccion {
    background-color: transparent;
    margin-top: 4rem;
    margin-bottom: 0;
    padding-bottom: 0;
    padding-right:0;
    padding-left:0;
    overflow-x:hidden;
    overflow-y:hidden;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
    h1 {
        padding: 6rem 0 3rem 0;
        color: white;
        font-weight: 900;
		font-size: 3.5rem;
        text-shadow: 4px 4px 15px rgba(0, 0, 0, 0.63);
    }
 }

/* Menu Seccion */
.nav-secondary {
    background-color: $subnav-col;
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    z-index: 1;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14);
    @media(min-width: $width-medium){
        flex-wrap: nowrap;
        overflow-x: initial;
    }
    li {
        padding-left:0;
        padding-right:0;
        flex: 0 0 auto;
        @media (min-width: $width-medium) {
            padding-left:1rem;
            padding-right:1rem;
            flex: unset;
        }
    }
    .nav-link {
        &:after {
            display: none;
        }
        &:hover,
        &.active {
			font-weight: bold;
        }
		&.text-color-vivienda:hover, &.text-color-vivienda.active { color: $color-vivienda; }		
		&.text-color-transparencia:hover, &.text-color-transparencia.active { color: $color-transparencia; }		
		&.text-color-trabajo:hover, &.text-color-trabajo.active { color: $color-trabajo; }		
		&.text-color-genero:hover, &.text-color-genero.active { color: $color-genero; }		
		&.text-color-drogas:hover, &.text-color-drogas.active { color: $color-drogas; }		
		&.text-color-ciencia:hover, &.text-color-ciencia.active { color: $color-ciencia; }		
        &.text-color-ambiente:hover, &.text-color-ambiente.active { color: $color-ambiente; }    
    }
    &.position-fixed {
        top: 72px;
/*         margin-left: -1rem;
        left: 0; */
        left: 0;
        right: 0;
        @media (min-width: $width-medium) {
            top: 80px;
        }
    }
}

#definicion {
    padding-bottom: 5rem;
}


/*####################################################*/
/*################## TEMAS */
.tema-principal {
    img {
        @media (min-width: $width-medium){
            padding-right: 3rem;
        }
    }
    .title {
        color: $color-principal-azul;
        font-size: $font-size-medium;
        margin-top: 1.5rem;
        margin-bottom: 1rem;
        @media (min-width: $width-medium){
            margin-top: 0;
            font-size: $font-size-large;
        }
    }
    .subtitle {
        color: $color-principal-azul;
        @media (min-width: $width-medium){
            font-size: $font-size-small;
        }
    }
    .text {
       font-size: $font-size-xsmall; 
       color: #1d1d1d;
       margin-top: 1rem;
    }
}

.tema-secundario {
    img {
        width: 50%;
        float: left;
        margin-right: 1.5rem;
        margin-bottom: 0.5rem;
    }
    .title {
        color: $color-principal-azul;
        font-size: $font-size-small;
        @media (min-width: $width-medium){
            font-size: $font-size-medium;
        }
    }
    .text {
        font-size: $font-size-xsmall;
        @media (min-width: $width-medium){
            font-size: $font-size-base;
        }
    }
}


/*####################################################*/
/*################## SEGUIDORES/ORGANIZACION */
.seguidores {
    .carousel-cell {
        height: auto;
        .title {
            color: $color-principal-azul;
            font-size: $font-size-small;
        }
    }
}


/*####################################################*/
/*################## ACTIVIDADES/AGENDA */
.agenda__title {
    color: $color-principal-azul;
    font-size: $font-size-medium;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    font-weight: 600;
    text-align: left;
    @media (min-width: $width-medium){
        font-size: $font-size-large;
    }
}


/*####################################################*/
/*################## ACTIVA */
.activa{
    color: $color-principal-azul;
    font-size: $font-size-small !important;
    @media (min-width: $width-medium){
		font-size: $font-size-medium !important;
    }
	
	.img-megafono-wrapper{
		display: inline-block;
		img{
			position: relative;
			top: -2px;
			height: 55px;
		    @media (min-width: $width-medium){
				height: 75px;
		    }
		}
	}

	.col-paso {
		padding: 0 0.6rem;
	    @media (min-width: $width-large){
			padding: 0 3rem;
	    }
		text-align: center;
	    @media (min-width: $width-medium){
	        text-align: left;
	    }
	}
	
	.row-carita{
		@include border-radius(35px);
		background-color: #E4EDFF;
		.carita-wrapper{
			margin: 0 auto;
			font-weight: bold;
			img{
				height: 45px;
				position: relative;
				top: 50%;
				transform: translateY(-50%);
			}
		}
	}
	
	.row-boton > div{
		margin: 0 auto;
		a { 
			font-weight: 600;			
		    font-size: $font-size-small !important;
		    @media (min-width: $width-medium){
				font-size: $font-size-medium !important;
		    }
		}
	}
}

/*####################################################*/
/*################## COLABORAR */

.colaborar {
    .card {
        height: 100%;
    }
    .card-body {
        display: flex;
        flex-direction: column;
        .row:first-of-type {
            flex: 1;
        }
    }
    ol {
        padding-left: 1.25rem;
        font-size: $font-size-xsmall;
        margin-bottom: 1.5rem;
        li {
            padding-top: 0.5rem;
        }
    }
    > p {
        font-size: $font-size-small;
    }
    .row p {
        font-size: $font-size-xsmall;
    }
    .img svg{
        @media (max-width: $width-small) {
            max-width: 100px;
            max-height: 100px;
        }
    }
}
