@import 'vars';

.manchas-wrapper {
	position: absolute;
	top: 0;
	height: 100%;
	width: 100%;
	overflow: hidden;
	display:none;
	@media (min-width: $width-large) { display:block; }
	
}

.manchas {	
	$manchaTransTime: 0.05s;
	$manchaTransAnim: linear;
    -webkit-transition: $manchaTransTime $manchaTransAnim;
    -moz-transition: $manchaTransTime $manchaTransAnim;
    -o-transition: $manchaTransTime $manchaTransAnim;
    transition: $manchaTransTime $manchaTransAnim;

    & img { position: absolute; }

	/* MANCHAS MANIFIESTO */
    &#mancha-mani1 img{
    	left:75px;
		@media (min-width: $width-medium) { left:215px; }
    }
    &#mancha-mani2 img{
    	right:-330px;
		@media (min-width: $width-large) { right:-370px; }
		@media (min-width: 1278px) { right:-310px; }
		@media (min-width: 1464px) { right:-250px; }
    }
    &#mancha-mani3 img{
    	left:10px;
		@media (min-width: $width-medium) { left:130px; }
    }
    &#mancha-mani4 img{
    	left:-185px;
		@media (min-width: $width-medium) { left:-143px; }
    }

	/* MANCHAS WIKI */
    &#mancha-wiki1 img{
    	left:-0px;
		@media (min-width: $width-medium) { left:-55px; }
		@media (min-width: 1464px) { left:120px; }
    }
    &#mancha-wiki2 img{
    	right:-90px;
		@media (min-width: $width-medium) { right:-70px; }
    }

	/* MANCHAS NOVEDADES */
    &#mancha-nove1 img{
		@media (min-width: $width-medium) { right:0px; }
    }
    &#mancha-nove2 img{
		@media (min-width: $width-medium) { left:-200px; }
    }
    &#mancha-nove3 img{
		@media (min-width: $width-medium) { right:-200px; }
    }
}