@import 'vars';

nav {
    a.nav-link.active {@include border-radius(2rem);}
    form {
        input.form-control {
            @include border-radius(2rem);
        }
    }
}

.navbar {
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    justify-content: space-between;
    // toggler menu
    .navbar-toggler {
        border: none;
        cursor: pointer;
        &:focus {
            outline: 0;
        }
    }
    .form-control {
        border-radius: 1.25rem;
        border-color: $white;
        max-width: 146px;
    }
    .form-control-icon {
        position: absolute;
        z-index: 2;
        display: block;
        pointer-events: none;
        right: 2.5rem;
    }
}

.nav-link {
    font-size: $font-size-medium;
    color: $white;
    &.active {
        font-weight: 600;
        border: none;
        &:after {
            content: " ";
            height: 5px;
            border-radius: 20px;
            display: block;
            background: $white;
            margin-top: 10px;
        }
    }
}

.navbar-collapse {
    flex-grow: 0;
}

// logo
.navbar-brand {
    margin-right: 0;
    img {
        height: $logo-height-mobile;
    }
} 

@media (min-width: $width-large) {
    .navbar {
        box-shadow: none;
    }
    .navbar-brand {
        img {
            height: $logo-height-desktop;
        }
    }  
}