@import 'vars';

.causa-genero h2{
    color: $color-genero;
}
.causa-ambiente h2{
    color: $color-ambiente;
}
.causa-ciencia h2{
    color: $color-ciencia;
}
.causa-vivienda h2{
    color: $color-vivienda;
}
.causa-transparencia h2{
    color: $color-transparencia;
}
.causa-drogas h2{
    color: $color-drogas;
}
.causa-trabajo h2{
    color: $color-trabajo;
}

h1 {font-weight: 700;}

.scrolly-row {

    padding: 30vh 2rem;
    @media (min-width: $width-large) {
        padding: 0 10rem;
        height: 80vh;
    }

	&:nth-child(odd) {
        background-color: $white;
	}

	&:nth-child(even) {
        background-color: #e5e5e5;
	}

    .scrolly-img {
        max-height: 50vh;
    }
}
